<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "description": "{{ page.description | strip_html | strip_newlines }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.last_modified_at %}"dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",{% endif %}
  "author": {
    "@type": "Organization",
    "name": "{{ site.business.name }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.business.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/images/logo.png' | absolute_url }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
  {% if page.image %},"image": "{{ page.image | absolute_url }}"{% endif %}
}
</script>
