<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HealthAndBeautyBusiness",
  "name": "{{ site.business.name }}",
  "alternateName": "Tawaret Hippo Herbals",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "telephone": "{{ site.business.phone_e164 }}",
  "areaServed": "{{ site.business.area_served }}",
  "slogan": "{{ site.tagline }}",
  "description": "{{ site.description | strip_html | strip_newlines }}",
  "priceRange": "TT$150-TT$800",
  "sameAs": []
}
</script>
